body {
 font-size: medium;
}
ul#leftlist {
 list-style-type: none;
 float: left;
 border-right: 1px solid black;
 margin-top: 0px;
 padding-bottom: 5px;
 border-bottom: 1px solid black;
}
li.leftlink {
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 width: 100px;
 text-align: right;
 padding-right: 3px;
 margin-top: 10px;
}
li.leftsublink {
 border-right: 1px solid black;
 border-bottom: 1px solid black;
 width: 60px;
 text-align: right;
 font-size: small;
 padding-right: 3px;
 margin-left: 10px;
}
li.extleftlink {
 width: 100px;
 text-align: right;
 padding-right: 3px;
 margin-top: 10px;
}
li.leftsubextlink {
 text-align: right;
 font-size: small;
 padding-right: 3px;
}
li.selectedcontnofollow {
 background-color: #bcc4ba;
}
li.selected {
 background-color: #9ecad9;
}
li.selectedcont {
 background-color: #9ecad9;
}
li.leftlink:hover {
 background-color: #b6c6b2;
}
li.leftsublink:hover {
 background-color: #af9ea6;
}
li.selected:hover {
 background-color: #9ecad9;
}
li.nofollow:hover {
 background-color: #f1f7ef;
}
a.leftlink {
 text-decoration: none;
 color: #000000;
}
a.leftsublink {
 text-decoration: none;
 color: #000000;
}
div#content {
 border-left: 1px solid black;
 border-top: 1px solid black;
 float: left;
 clear: none;
 width: 540px;
 padding: 10px;
 text-align: justify;
}
div#spacer {
 width: 20px;
 border-top: 1px solid black;
 float: left;
 clear: none;
}
div.plm {
 margin-top:20px;
 font-size: x-small;
}
p {
 margin-top: 0px;
}
img {
 border: 0px;
}
span.listhead {
 font-weight: bold;
}
span.sublisthead {
 font-style: italic;
}
span.spclb {
 display: none;
}

#soclist {
 position: relative;
 list-style-type: none;
}
li.soclist {
 text-indent: -20px;
 list-style: none;
}
a.soclist {
 background-image:url('content/montage-v.png');
 background-repeat:no-repeat;
 padding-left: 20px;
}
